@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;

  --color-main: #be123c;

  /* --color-third: #CDB4DB; */

  --font-laisha: "Laisha", serif;
}

@layer base {
  /* fluid text needs adjusting */
  body {
    @apply transition-colors duration-500 m-0 p-0 box-border text-[min(3vw,2vh)];
  }

  h1 {
    @apply leading-tight text-black lg:text-[4rem] text-[3rem];
  }

  h2 {
    @apply font-normal leading-tight font-laisha text-black lg:text-[4rem] text-[3rem];
  }

  h3 {
    @apply font-semibold leading-tight text-black lg:text-[3rem] text-[2rem];
  }

  h4 {
    @apply font-semibold leading-tight text-black lg:text-[2rem] text-[1.5rem];
  }

  h6 {
    @apply text-main uppercase tracking-tighter font-sans font-semibold lg:text-[1.125rem] text-[1rem];
  }

  p {
    @apply text-base font-sans leading-tight text-black;
  }
  /* a {
    @apply text-main;
  }

  a:hover {
    @apply underline;
  } */
}

@layer components {
  .pattern-background {
    background-color: #ffffff;
    background-image: url("/images/rose-pattern.svg");
    background-size: cover;
    background-position: center;
  }
  .btn-grad {
    @apply uppercase inline-block text-black tracking-wider shadow-lg/60 shadow-gray-600 cursor-pointer transition-all duration-800 ease-in-out font-serif;
    padding: 2px 10px; /* px py */
    margin: 10px;
    background-image: linear-gradient(
      to right,
      #f095ac 0%,
      #be123c 45%,
      #f095ac 100%
    );
    background-size: 200% auto;
  }

  .btn-grad:hover {
    @apply shadow-xl;
    background-position: right center; /* slide gradient */
    color: #fff;
    text-decoration: none;
  }
}
