@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;

  --color-main: #4c603e;
  --color-alt: #8b1015;
  /* --color-third: #CDB4DB; */

  --font-laisha: "Laisha", serif;
}

@layer base {
  /* fluid text needs adjusting */
  body {
    @apply transition-colors duration-500 m-0 p-0 box-border text-[min(3vw,2vh)];
  }

  h1 {
    @apply leading-tight text-black lg:text-[4rem] text-[3rem];
  }

  h2 {
    @apply font-normal leading-tight font-laisha text-black lg:text-[4rem] text-[3rem];
  }

  h3 {
    @apply font-semibold leading-tight text-black lg:text-[3rem] text-[2rem];
  }

  h4 {
    @apply font-semibold leading-tight text-black lg:text-[2rem] text-[1.5rem];
  }

  h6 {
    @apply text-alt uppercase tracking-tighter font-sans font-semibold lg:text-[1.125rem] text-[1rem];
  }

  p {
    @apply text-base font-sans leading-tight text-black;
  }

  /* a {
    @apply hover:text-main text-blue-600;
  } */
}

@layer components {
  .pattern-background {
    background-color: #ffffff;
    background-image: url("assets/img/rose-pattern.svg");
    background-size: cover;
    background-position: center;
  }
  .btn-grad {
    @apply inline-block text-white uppercase tracking-tight shadow-md cursor-pointer transition-all duration-500 ease-in-out;
    padding: 5px 10px; /* px-[45px] py-[15px] */
    margin: 10px;
    background-image: linear-gradient(
      to right,
      #ce120b 0%,
      #8b1015 51%,
      #e52d27 100%
    );
    background-size: 200% auto;
  }

  .btn-grad:hover {
    @apply shadow-lg;
    background-position: right center; /* slide gradient */
    color: #fff;
    text-decoration: none;
  }
}
